{% extends "layout.html" %}
{% block content %}
{% set count = namespace(value=1) %}
<script>
    (() => {
        document.addEventListener("DOMContentLoaded", () => {
            new Tablesort(document.getElementById('resultstable'), { descending: true });
        });
    })();
</script>
<br />
<table class="paddingtable" id="resultstable">
    <thead>
        <tr>
            <th>month</th>
            <th>kills</th>
            <th>isk</th>
        </tr>
    </thead>
    {% for month in months %}
    <tr>
        <td>{{ month[0] }}</td>
        <td>{{ month[1] }}</td>
        <td>{{ "{:,}".format(month[2]) }}</td>
    </tr>
    {% set count.value = count.value + 1 %}
    {% endfor %}
</table>
{% endblock %}