{% extends "layout.html" %}
{% block content %}
{% include "searchform.html" %}
<p class="mobilesizewarning">
    your device is small<br />
    turn it sideways..sorry<br />
</p>
<p>newest {{ kms|length }} killmails (last database update {{ update_age_minutes }} minutes ago)</p>

<table class="sortable" id="resultstable">
    <thead>
        <tr>
            <th role="columnheader" data-sort-method='default'>Killer corp</th>
            <th role="columnheader">Killer</th>
            <th class="hideonmobile" role="columnheader">Killer ship</th>
            <th class="hideonmobile" role="columnheader" data-sort-method='default'>Killer class</th>
            <th role="columnheader">Victim corp</th>
            <th role="columnheader">Victim</th>
            <th class="hideonmobile" role="columnheader">Victim ship</th>
            <th class="hideonmobile" role="columnheader">Victim class</th>
            <th class="hideonmobile" role="columnheader">System</th>
            <!-- <th role="columnheader">Constellation</th> -->
            <th role="columnheader">Region</th>
            <th role="columnheader">Isk</th>
            <!-- <th role="columnheader">Damage</th> -->
            <!-- <th role="columnheader">Participants</th> -->
            <th data-sort-default role="columnheader" data-sort-method='date'>Date</th>
            <th role="columnheader" data-sort-method='none'>Killmail</th>
        </tr>
    </thead>

{% for km in kms %}
    {% include "tablerow.html" %}
{% endfor %}
</table>
{% endblock %}