<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - marioview</title>
    <link rel="stylesheet" type="text/css" href="/static/style/mv.css?h={{ config['STATIC_HASH'] }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    {%- if kms and kms|length > 0 %}
        <meta property="og:url" content="{{ request.url }}"/>
        <meta property="og:title" content="marioview: {{ title }}"/>
        <meta property="og:description" content="
        {%- if request.path == '/search' %}{{ kms|length }} kills for {{ '{:,}'.format(isk_total) }} total isk
        filters:
            {% if request.args.get('killer_name') %}kills by {{ request.args.get('killer_name') }}
            {% endif %}
            {% if request.args.get('killer_corp') %}kills by [{{ request.args.get('killer_corp') }}]
            {% endif %}
            {% if request.args.get('victim_name') %}deaths by {{ request.args.get('victim_name') }}
            {% endif %}
            {% if request.args.get('victim_corp') %}deaths by [{{ request.args.get('victim_corp') }}]
            {% endif %}
            {% if request.args.get('system') %}occurring in {{ request.args.get('system') }}
            {% endif %}
            {% if request.args.get('region') %}in {{ request.args.get('region') }}
            {% endif %}
        {% endif -%}
        {%- if request.path == '/top/day' %}top kills of the day{% endif -%}
        {%- if request.path == '/top/week' %}top kills of the week{% endif -%}
        {%- if request.path == '/top/month' %}top kills of the month{% endif -%}
        {%- if request.path == '/' %}{% endif -%}
        "/>
        <meta property="og:site_name" content="marioview"/>
        <meta property="og:image" content="https://marioview.honk.click/static/img/logo-32px.png"/>
    {% endif -%}
</head>
<body>
    <nav>
        <div class="container">
            <div class="row">
                <div class="views">
                    <a href="{{ url_for('views.index') }}" class="{% if nav == 'index' %}active{% endif %} navlink"><span class="name">marioview</span></a>
                    <a href="{{ url_for('views.top_day') }}" class="{% if nav == 'top/day' %}active{% endif %} navlink"><span class="name">d</span></a>/<a href="{{ url_for('views.top_week') }}" class="{% if nav == 'top/week' %}active{% endif %} navlink"><span class="name">w</span></a>/<a href="{{ url_for('views.top_month') }}" class="{% if nav == 'top/month' %}active{% endif %} navlink"><span class="name">m</span></a>
                    <a href="{{ url_for('positivity') }}" class="{% if nav == 'positivity' %}active{% endif %} navlink"><span class="name">positivity</span></a>
                    <a href="{{ url_for('bullying') }}" class="{% if nav == 'bullying' %}active{% endif %} navlink"><span class="name">bullying</span></a>
                    <a href="https://honk.click/discord" class="navlink" target="_blank">discord</a>
                    <a href="https://echoes.mobi" class="navlink" target="_blank">echoes.mobi</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/script/mv.js?h={{ config['STATIC_HASH'] }}"></script>
    <script src="/static/script/tablesort.js?h={{ config['STATIC_HASH'] }}"></script>
    <script src="/static/script/tablesort.number.min.js?h={{ config['STATIC_HASH'] }}"></script>
    <p class="footer">Rendered in {{ g.request_time() }}</p>
</body>