{% extends "layout.html" %}
{% block content %}
{% set count = namespace(value=1) %}
{% include 'positivitynav.html' %}
<table class="paddingtable">
    <tr>
        <th>place</th>
        <th>{{ mode }}</th>
        <th>isk total</th>
    </tr>
{% for corp in score %}
    <tr>
        <td>{{ count.value }}</td>
        <td><a href="/search?killer_corp={{ corp }}" class="tablelink">{{ corp }}</a></td>
        <td>{{ "{:,}".format(score[corp]) }}</td>
    </tr>
    {% set count.value = count.value + 1 %}
{% endfor %}
</table>
{% endblock %}