{% extends "layout.html" %}
{% block content %}
<script>
    (() => {
        document.addEventListener("DOMContentLoaded", () => {
            new Tablesort(document.getElementById('resultstable'), { descending: true });
        });
    })();
</script>
<form action="/search" class="filters skipEmptyFields" method="GET" autocomplete="off">
    <div class="filterrow">
        <div class="filter">
            <input type="text" name="killer_corp" placeholder="Killer corp" value="{{ request.args.get('killer_corp')  or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="killer_name" placeholder="Killer name" value="{{ request.args.get('killer_name') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="killer_ship_type" placeholder="Killer ship" value="{{ request.args.get('killer_ship_type') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="killer_ship_category" placeholder="Killer ship class" value="{{ request.args.get('killer_ship_category') or '' }}" />
        </div>
    </div>
    <div class="filterrow">
        <div class="filter">
            <input type="text" name="victim_corp" placeholder="Victim corp" value="{{ request.args.get('victim_corp') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="victim_name" placeholder="Victim name" value="{{ request.args.get('victim_name') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="victim_ship_type" placeholder="Victim ship" value="{{ request.args.get('victim_ship_type') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="victim_ship_category" placeholder="Victim ship class" value="{{ request.args.get('victim_ship_category') or '' }}" />
        </div>
    </div>
    <div class="filterrow">
        <div class="filter">
            <input type="text" name="system" placeholder="System" value="{{ request.args.get('system') or '' }}" />
        </div>
        <!-- <div class="filter">
            <input type="text" name="constellation" placeholder="Constellation" value="{{ request.args.get('constellation') or '' }}" />
        </div> -->
        <div class="filter">
            <input type="text" name="region" placeholder="Region" value="{{ request.args.get('region') or '' }}" />
        </div>

        <div class="filter">
            <input type="text" name="isk" placeholder="Minimum isk value" value="{{ request.args.get('isk') or '' }}" />
        </div>
        <div class="filter">
            <input type="text" name="report_id" placeholder="Killmail ID" value="{{ request.args.get('report_id')  or '' }}" />
        </div>
    </div>

    <div class="searchbutton">
        <input type="submit" value="Search" />
    </div>
</form>
<p>{{ kms|length }} killmails</p>
<table class="sortable" id="resultstable">
    <thead>
        <tr>
            <th role="columnheader" data-sort-method='default'>Killer corp</th>
            <th role="columnheader">Killer</th>
            <th role="columnheader">Killer ship</th>
            <th role="columnheader" data-sort-method='default'>Killer class</th>
            <th role="columnheader">Victim corp</th>
            <th role="columnheader">Victim</th>
            <th role="columnheader">Victim ship</th>
            <th role="columnheader">Victim class</th>
            <th role="columnheader">System</th>
            <!-- <th role="columnheader">Constellation</th> -->
            <th role="columnheader">Region</th>
            <th role="columnheader">Isk</th>
            <!-- <th role="columnheader">Damage</th> -->
            <!-- <th role="columnheader">Participants</th> -->
            <th role="columnheader" data-sort-method='date'>Date</th>
            <th role="columnheader">Image</th>
        </tr>
    </thead>

{% for km in kms %}
    <tr>
        <td><a href="/search?killer_corp={{ km['killer_corp'] }}" class="tablelink">{{ '' if not km['killer_corp'] else km['killer_corp'] }}</a></td>
        <td><a href="/search?killer_name={{ km['killer_name'] }}" class="tablelink">{{ '' if not km['killer_name'] else km['killer_name'] }}</a></td>
        <td><a href="/search?killer_ship_type={{ km['killer_ship_type'] }}" class="tablelink">{{ '' if not km['killer_ship_type'] else km['killer_ship_type'] }}</a></td>
        <td><a href="/search?killer_ship_category={{ km['killer_ship_category'] }}"><img src="/static/img/shipclass/{{ km['killer_ship_category'] }}.png"></a></td>
        <td><a href="/search?victim_corp={{ km['victim_corp'] }}" class="tablelink">{{ '' if not km['victim_corp'] else km['victim_corp'] }}</a></td>
        <td><a href="/search?victim_name={{ km['victim_name'] }}" class="tablelink">{{ '' if not km['victim_name'] else km['victim_name'] }}</a></td>
        <td><a href="/search?victim_ship_type={{ km['victim_ship_type'] }}" class="tablelink">{{ '' if not km['victim_ship_type'] else  km['victim_ship_type'] }}</a></td>
        <td><a href="/search?victim_ship_category={{ km['victim_ship_category'] }}" class="tablelink"><img src="/static/img/shipclass/{{ km['victim_ship_category']|lower }}.png"></a></td>
        <td><a href="/search?system={{ km['system'] }}" class="tablelink">{{ '' if not km['system'] else km['system']}}</a></td>
        <!-- <td>{{ km['constellation'] }}</td> -->
        <td><a href="/search?region={{ km['region'] }}" class="tablelink">{{ '' if not km['region'] else km['region']}}</a></td>
        <td>{{ "{:,}".format(km['isk']) }}</td>
        <!-- <td>{{ km['victim_total_damage_received'] }}</td> -->
        <!-- <td>{{ km['total_participants'] }}</td> -->
        <td>{{ km['date_killed'] }}</td>
        <td><a href="{{ km['image_url'] }}" target="_blank"><img src="{{ km['image_url'] }}" class="km_img_small"></a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}