{% extends "layout.html" %}
{% block content %}
<script>
    (() => {
        document.addEventListener("DOMContentLoaded", () => {
            new Tablesort(document.getElementById('resultstable'), { descending: true });
        });
    })();
</script>
{% include "searchform.html" %}
<script src="/static/script/mv-input-swap.js?h={{ config['STATIC_HASH'] }}"></script>
<p class="mobilesizewarning">
    your device is small<br />
    turn it sideways..sorry<br />
</p>
<p>{%- if kms|length == limit %}top {% endif -%}{{ kms|length }} killmails for {{ "{:,}".format(isk_total) }} total isk 
    {%- if kms|length > 0 %}
        {% include "csvlink.html" %}
    {% endif -%}
    {%- if kms|length == limit %}
        <a href="{{ request.full_path|rewrite_limit(50000) }}" class="csvlink">(load all killmails)</a>
    {% endif -%}
</p>
<table class="sortable" id="resultstable">
    {% include "tablehead.html" %}

    
{% for km in kms %}
    {% include "tablerow.html" %}
{% endfor %}
</table>
{% endblock %}