{% extends "layout.html" %}
{% block content %}
<script>
    (() => {
        document.addEventListener("DOMContentLoaded", () => {
            new Tablesort(document.getElementById('resultstable'), { descending: true });
        });
    })();
</script>
{% include "searchform.html" %}
<p class="mobilesizewarning">
    your device is small<br />
    turn it sideways..sorry<br />
</p>
<p>{{ kms|length }} killmails for {{ "{:,}".format(isk_total) }} total isk {% if kms|length > 0 %}{% include "csvlink.html" %}{% endif %}<!-- from {{ timestamp_start }} to {{ timestamp_end }}--></p>
<table class="sortable" id="resultstable">
    {% include "tablehead.html" %}

    
{% for km in kms %}
    {% include "tablerow.html" %}
{% endfor %}
</table>
{% endblock %}