{% extends "layout.html" %}
{% block content %}

<div class="metadata">
    <article class="metacard">
        <div class="infosection">Conflict: <b>{{ metadata['conflict'] }}</b></div>
        <br />
        <div class="infosection">Started {{ metadata['start_date'] }}</div>
        <div class="infosection">Ended: {{ metadata['end_date'] if metadata['end_date'] else 'Ongoing' }}</div>
        <div class="infosection">Moderator: {{ metadata['moderator'] }}</div>
        <div class="infosection">Last updated: {{ data_age }} minutes ago</div>
    </article>
</div>

<div class="spaceteam">
    <section class="cards">
        {% for team in team_kms %}
        <article class="card">
            <div class="teamname">Spaceteam: <b>{{ team }}</b></div>
            <div class="teamstats">
                <div class="statsection">
                    <span class="total">Total kills: <b>{{ team_kms[team]|length }}</b></span>
                    <span class="total">Total isk: <b>{{ "{:,}".format(team_stats[team]['isk']) }}</b></span>
                </div>
                <div class="statsection">
                    <span class="statheader">Subcapital ships</span>
                    {% for stat in subcaps %}
                        <span class="stat">{{ team_stats[team][stat] }} {{ stat|pluralize(team_stats[team][stat]) }}</span>
                    {% endfor %}
                </div>
                <div class="statsection">
                    <span class="statheader">Capital ships</span>
                    {% for stat in caps %}
                        <span class="stat">{{ team_stats[team][stat] }} {{ stat|pluralize(team_stats[team][stat]) }}</span>
                    {% endfor %}
                </div>
                <div class="statsection">
                    <span class="statheader">Structures</span>
                        <span class="stat">{{ team_stats[team]['Citadel'] }} {{ 'Capsuleer Outpost'|pluralize(team_stats[team]['Citadel']) }}</span>
                </div>
            </div>
            <div class="alliancelist">
                <span class="statheader hp-toggle hp-control" data-group="participantlist"><u>{{ 'Final' if metadata['end_date'] else 'Current' }} members</u></span>
                <div class="hp-toggle hp-display hidden" data-group="participantlist">
                    {% for alliance in teams[team]['alliances']|alphasort %}
                        {% if alliance != 'Naked' %}<span class="corplist"><b>{{ alliance }}</b> ({{ ', '.join(teams[team]['alliances'][alliance]|alphasort) }})</span>{% endif %}
                    {% endfor %}
                    <span class="corplist"><b>Other</b> ({{ ', '.join(teams[team]['alliances']['Naked']|alphasort) }})</span>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
</div>



{% endblock %}