<tr>
    <td{% if km['killer_corp'] is not none %} class="corpstat"{% endif %}>
        {%- if km['killer_corp'] is not none %}
        <a href="/timeline/corp/{{ km['killer_corp'] }}"><img class='smallicon' src="/static/img/timeseries.png"></a>
        <a href="/search?killer_corp={{ km['killer_corp'] }}" class="tablelink corplink">
            {{ km['killer_corp'] }}
        </a>
        <div class="corptooltip">
        </div>
        {% endif -%}
    </td>
    <td class="nowrapname{% if km['killer_name'] is not none%} pilotstat{% endif %}">
        {%- if km['killer_name'] is not none  %}
            <a href="/timeline/pilot/{{ km['killer_name']|urlify }}"><img class='smallicon' src="/static/img/dogtags.png"></a>
            <a href="/search?killer_name={{ km['killer_name']|urlify }}" class="tablelink pilotlink">{{ km['killer_name'] }}</a>
            {%- if km['total_participants'] == 1 %}
                <img src="/static/img/star.png" class="smallicon" title="solo kill">
            {% endif -%}
            <div class="pilottooltip">
            </div>
        {% endif -%}
    </td>
    <td class="hideonmobile" >
        {% if km['killer_ship_type'] %}<a href="/timeline/ship/{{ km['killer_ship_type'] }}"><img class='smallicon' src="/static/img/timeseries.png"></a>{% endif %}
        <a href="/search?killer_ship_type={{ km['killer_ship_type'] }}" class="tablelink">
        {{ '' if not km['killer_ship_type'] else km['killer_ship_type'] }}</a>
    </td>
    <td class="hideonmobile" >
        <a href="/search?killer_ship_category={{ km['killer_ship_category'] }}"><img src="/static/img/shipclass/
        {%- if km['killer_ship_category']|is_faction_possible %}
            {%- if km['killer_ship_type']|is_faction %}faction {% endif -%}
        {% endif -%}
        {{ km['killer_ship_category']|lower }}.png"></a>
    </td>
    <td{% if km['victim_corp'] is not none %} class="corpstat"{% endif %}>
        {%- if km['victim_corp'] is not none %}
            <a href="/timeline/corp/{{ km['victim_corp'] }}"><img class='smallicon' src="/static/img/timeseries.png"></a>
            <a href="/search?victim_corp={{ km['victim_corp'] }}" class="tablelink corplink">
                {{ km['victim_corp'] }}
            </a>
            <div class="corptooltip">
            </div>
        {% endif -%}
    </td>
    <td class="nowrapname{% if km['victim_name'] is not none%} pilotstat{% endif %}">
        {%- if km['victim_name'] is not none  %}
            <a href="/timeline/pilot/{{ km['victim_name']|urlify }}"><img class='smallicon' src="/static/img/dogtags.png"></a>
            <a href="/search?victim_name={{ km['victim_name']|urlify }}" class="tablelink pilotlink">
                {{ km['victim_name'] }}
            </a>
            <div class="pilottooltip">
            </div>
        {% endif -%}
    </td>
    <td>
        {% if km['victim_ship_type'] %}<a href="/timeline/ship/{{ km['victim_ship_type'] }}"><img class='smallicon' src="/static/img/timeseries.png"></a>{% endif %}
        <a href="/search?victim_ship_type={{ km['victim_ship_type'] }}" class="tablelink">{{ '' if not km['victim_ship_type'] else  km['victim_ship_type'] }}</a>
    </td>
    <td class="hideonmobile" ><a href="/search?victim_ship_category={{ km['victim_ship_category'] }}" class="tablelink"><img src="/static/img/shipclass/
        {%- if km['victim_ship_category']|is_faction_possible %}
            {%- if km['victim_ship_type']|is_faction %}faction {% endif -%}
        {% endif -%}
        {{ km['victim_ship_category']|lower }}.png"></a></td>
    <td class="hideonmobile" ><a href="/search?system={{ km['system'] }}" class="tablelink">{{ '' if not km['system'] else km['system']}}</a></td>
    <!-- <td>{{ km['constellation'] }}</td> -->
    <td class="{{ km['system']|get_system_sec }} hideonmobile"><a href="/search?region={{ km['region'] }}" class="tablelink">{{ '' if not km['region'] else km['region']}}</a></td>
    <td{%- if km['isk'] > 5000000000 %}
        class="hugekill"
        {% elif km['isk'] > 1000000000 %}
        class="bigkill"
        {% endif -%}><a href="https://echoes.mobi/killboard/view/killmail/{{ km['id'] }}" target="_blank" class="tablelink">{{ "{:,}".format(km['isk']) }}</a></td>
    <!-- <td>{{ km['victim_total_damage_received'] }}</td> -->
    <!-- <td>{{ km['total_participants'] }}</td> -->
    <td data-sort="{{ km['timestamp'] }}"><a href="/search?date_start={{ km['date_killed']|date_from_datestring }}&date_end={{ km['date_killed']|date_from_datestring }}"><img class='smallicon' src="/static/img/calendar.png"></a> <span class="hp-toggle hidden moment tablelink" data-group="moments">{{ km['date_killed'] }}</span><span class="hp-toggle tablelink" data-group="moments">{{ km['date_killed'] }}</span></td>
    <td><a href="{{ km['image_url'] }}" target="_blank">
        {%- if kms|length < 101 %}
            <img src="{{ km['image_url'] }}" class="km_img_small">
        {% else %}
            <img src="/static/img/killreport.png">
        {% endif -%}
    </a></td>
</tr>