<thead>
    <tr>
        <th role="columnheader" width="60px" data-sort-method='default'>K. corp</th>
        <th role="columnheader">Killer</th>
        <th class="hideonmobile" role="columnheader">K. ship</th>
        <th class="hideonmobile" width="50px" role="columnheader" data-sort-method='default'>K. class</th>
        <th role="columnheader" width="60px">V. corp</th>
        <th role="columnheader">Victim</th>
        <th class="hideonmobile" role="columnheader">V. ship</th>
        <th class="hideonmobile" width="50px" class="iconcolumn" role="columnheader">V. class</th>
        <th class="hideonmobile" role="columnheader">System</th>
        <!-- <th role="columnheader">Constellation</th> -->
        <th role="columnheader">Region</th>
        <th role="columnheader">Isk</th>
        <!-- <th role="columnheader">Damage</th> -->
        <!-- <th role="columnheader">Participants</th> -->
        <th {% if request.path == '/' %}data-sort-default{% endif %} role="columnheader" data-sort-method='date'>Date</th>
        <th role="columnheader" data-sort-method='none'>Killmail</th>
    </tr>
</thead>