{% extends "layout.html" %}
{% block content %}
<script src="https://d3js.org/d3.v6.js"></script>
<p class="timelinetitle">{{ type|removeshipsonly }} history for {{ lookup }} {%- if 'shipsonly' in type %} (ships only){% endif -%}</p>
{%- if 'shipsonly' in type %}
<p class="timelinecontrol"><a href="/timeline/{{ type|removeshipsonly }}/{{ lookup }}" class="timelinelink">change to all kills</a></p>
{% else %}
<p class="timelinecontrol"><a href="/timeline/shipsonly/{{ type }}/{{ lookup }}" class="timelinelink">change to ships only</a></p>
{% endif -%}


<div id="timeplot"></div>
<style>
    /* set the CSS */

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        padding: 2px;
        font: 12px sans-serif;
        color: black;
        background: lightgray;
        border: 0px;
        pointer-events: none;
    }
</style>
<script>
    const smallDot = 1
    const bigDot = 20
    const smallKm = 1000000
    const bigKm = 200000000000
    const getKmRadius = isk => {
        return (bigDot - smallDot) * ((Math.abs(isk) - smallKm) / (bigKm - smallKm)) + smallDot;
    }

    const widthVal = 800
    const heightVal = 400
    const strokeWidth = 2;
    const margin = { top: 30, right: 30, bottom: 30, left: 80 }
    const width = widthVal - margin.left - margin.right - (strokeWidth * 2);
    const height = heightVal - margin.top - margin.bottom;

    const svg = d3.select("#timeplot")
        .append("svg")
        .attr("viewBox", `0 0 ${widthVal} ${heightVal}`)
        .append("g")
        .attr("transform", `translate(${margin.left},${margin.top})`);

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    d3.json("/api/timeline/{{ type }}/{{ lookup }}",
        function (d) {
            return { date: d3.timeParse("%s")(d.date), ship: d.ship, shipval: d.shipval, isk: d.isk, url: d.url }
        }).then(
            function (data) {
                // const x = d3.scaleTime()
                //     .domain(d3.extent(data, function (d) { return d.date; }))
                //     .range([0, width]);

                const xScale = d3
                    .scaleTime()
                    .range([0, width])
                    .domain(d3.extent(data, d => d.date));

                const yScale = d3
                    .scaleLinear()
                    .range([height, 0])
                    .domain([d3.min(data, d => d.isk), d3.max(data, d => +d.isk)])

                var xAxis = svg.append("g")
                    .attr("class", "x-axis")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(xScale));

                var yAxis = svg.append("g")
                    .attr("class", "y-axis")
                    // .classed("yaxistext", true)
                    .attr("transform", `translate(0, 0)`)
                    .call(d3.axisLeft(yScale));

                var yticks = d3.selectAll(".tick text");
                yticks.attr("class", "yaxistext")

                var line = d3.line()
                    .x(function (d) { return xScale(d.date) })
                    .y(function (d) { return yScale(d.isk) })


                var defs = svg.append("defs").append("clipPath")
                    .attr("id", "clip")
                    .append("rect")
                    .attr("x", margin.left)
                    .attr("width", width - margin.right)
                    .attr("height", height);

                var path = svg.append("path")
                    .datum(data)
                    .attr("fill", "none")
                    .attr("stroke", "#888888")
                    .attr("stroke-width", strokeWidth)
                    .attr("d", line)



                var dots = svg.selectAll("dot")
                    .data(data)
                    // .enter().append("a").attr("xlink:href", function (d) { return d.url; }).append("rect")
                    .enter().append("a").attr("xlink:href", function (d) { return d.url; }).append("circle")
                    .attr("r", function (d) { return getKmRadius(d.shipval); })
                    // .attr("width", function (d) { return getKmRadius(d.shipval); })
                    // .attr("height", function (d) { return getKmRadius(d.shipval); })
                    .attr('fill', function (d) { if (d.shipval >= 0) { return "white" } else { return "black" } })
                    // .attr("x", function (d) { return xScale(d.date) - getKmRadius(d.shipval) / 2; })
                    // .attr("y", function (d) { return yScale(d.isk) - getKmRadius(d.shipval) / 2; })
                    .attr("cx", function (d) { return xScale(d.date) })
                    .attr("cy", function (d) { return yScale(d.isk) })
                    .on("mouseover", function (event, d) {
                        div.style("opacity", .9);
                        div.html(d3.timeFormat("%Y-%m-%d")(d.date) + ((d.ship !== null) ? "<br/>" + d.ship : '') + "<br/>killmail: " + d.shipval.toLocaleString() + "<br/>total: " + d.isk.toLocaleString())
                            .style("left", (event.pageX) + "px")
                            .style("top", (event.pageY - 28) + "px");
                    })
                    .on("mouseout", function (d) {
                        div.style("opacity", 0);
                    });
            })
</script>

{% endblock %}